body{
    display: flex;
    justify-content: space-around;
        background: lightblue;
    .idCard{
        background-color: white;
        width: 25%;
        border: 2px solid black;
        padding: 0 20px;
        border-radius: 20px;

        .idHeader{
            text-align: center;
        }
        .imageblock{
            text-align: center;
            img{
                width: 20%;
                border-radius: 50%;
                border: 2px solid blue;
            }
        }
        .details{
            border: 1px solid gray;
    padding: 0 15px;
        }
        .footer{
            text-align: center;
        }
    }
}